<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:appCategory="game"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"
        />

        <!-- BEGIN GENERATED PROFILE APP ICON ALIASES -->
        <activity-alias
            android:name=".launcher.Primary"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="primary" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitCyGold"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_cy_gold"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-cy-gold" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitCyGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_cy_green"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-cy-green" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitCyViolet"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_cy_violet"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-cy-violet" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitCyOrange"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_cy_orange"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-cy-orange" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitCyBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_cy_blue"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-cy-blue" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitMgCy"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_mg_cy"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-mg-cy" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitMgGold"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_mg_gold"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-mg-gold" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitMgGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_mg_green"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-mg-green" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitMgViolet"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_mg_violet"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-mg-violet" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitMgOrange"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_mg_orange"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-mg-orange" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitMgBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_mg_blue"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-mg-blue" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGoldCy"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_gold_cy"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-gold-cy" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGoldMg"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_gold_mg"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-gold-mg" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGoldGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_gold_green"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-gold-green" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGoldViolet"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_gold_violet"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-gold-violet" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGoldOrange"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_gold_orange"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-gold-orange" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGoldBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_gold_blue"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-gold-blue" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGreenCy"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_green_cy"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-green-cy" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGreenMg"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_green_mg"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-green-mg" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGreenGold"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_green_gold"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-green-gold" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGreenViolet"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_green_violet"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-green-violet" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGreenOrange"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_green_orange"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-green-orange" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitGreenBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_green_blue"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-green-blue" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitVioletCy"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_violet_cy"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-violet-cy" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitVioletMg"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_violet_mg"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-violet-mg" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitVioletGold"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_violet_gold"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-violet-gold" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitVioletGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_violet_green"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-violet-green" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitVioletOrange"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_violet_orange"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-violet-orange" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitVioletBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_violet_blue"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-violet-blue" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitOrangeCy"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_orange_cy"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-orange-cy" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitOrangeMg"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_orange_mg"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-orange-mg" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitOrangeGold"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_orange_gold"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-orange-gold" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitOrangeGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_orange_green"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-orange-green" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitOrangeViolet"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_orange_violet"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-orange-violet" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitOrangeBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_orange_blue"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-orange-blue" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitBlueCy"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_blue_cy"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-blue-cy" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitBlueMg"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_blue_mg"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-blue-mg" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitBlueGold"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_blue_gold"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-blue-gold" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitBlueGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_blue_green"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-blue-green" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitBlueViolet"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_blue_violet"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-blue-violet" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SplitBlueOrange"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_split_blue_orange"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <meta-data
                android:name="knucklebones.profileIcon"
                android:value="split-blue-orange" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- END GENERATED PROFILE APP ICON ALIASES -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
